# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# AWS
.aws/
*.pem

# Env / secrets
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
.next/

# OS
.DS_Store
